/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/*==========================================================*/

:root {
  --light-orange-color: #f7cc5b;
  --dark-orange-color: rgba(222, 161, 0, 1);
  --dark-text-color: #2a2a2b;
  --timeline-text-desc-color: rgba(87, 88, 89, 1);
  --timeline-error-color: #f5222d;
}

body {
  font-family: Inter, monospace, sans-serif;
}

.container {
  background-color: #fafafa;
  padding: 2rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

/*==========================================================*/

.dark-bold {
  color: var(--dark-text-color);
  font-weight: 600;
}

.sushi-card {
  width: 428px;
  background-color: #fff;
}

.top-part {
  gap: 18px;
}

.clockblock {
  padding: 14px 31px 14px 48px;
}

.startus-bar,
.phones-status {
  align-items: center;
}

.phones-status {
  gap: 7px;
  padding: 0 35px 0 35px;
}

.shop-information {
  display: flex;
  box-shadow: 2px 4px 10px 0px #000d0b0a;
  justify-content: center;
  position: relative;
  padding-top: 8px;
  padding-bottom: 4px;

  .shop-icon {
    padding-left: 12px;
    position: absolute;
    left: 0;
  }

  .shop-adress {
    color: rgba(48, 48, 48, 0.5);
    font-size: 12px;
  }
}

.order-container {
  padding-left: 16px;
  padding-right: 16px;

  .order-container-background {
    background-color: #f5f6fa;
    border-radius: 28px;
    padding: 16px;

    .order-information-box {
      background-color: #fff;
      box-shadow: 2px 2px 16px 0px #00000014;
      border-radius: 20px;
      padding: 16px 75px;
    }

    .order-infor {
      gap: 16px;
    }

    .order-label {
      font-weight: 700;
      line-height: 24px;
      color: #575859;
    }

    .order-title {
      font-weight: 600;
      font-size: 34px;
      line-height: 1.17;
      color: var(--dark-orange-color);
    }
  }
}

.order-status-treeline {
  padding-left: 16px;
  padding-right: 16px;

  &>div {
    padding: 16px;
    display: flex;
    gap: 16px;
    flex-direction: column;
  }

  /*Weak solution may crash when text change, not stable*/
  .progress-line {
    min-height: 20px;
    border: 2px solid;
    border-radius: 45px;
    width: 2px;
    border-color: var(--dark-orange-color);
    position: absolute;
    top: 34px;
  }

  .errors-line {
    min-height: 28px;
    border-color: var(--timeline-error-color);
    top: calc(34px + 5px);
  }

  .timepoint-title {
    font-size: 14px;
    line-height: 22px;
  }

  .timepoint-desc {
    font-size: 12px;
    line-height: 20px;
    color: var(--timeline-text-desc-color);
  }

  .order-status-info {
    max-width: 219px;
  }

  .order-status-timepoint {
    display: flex;
    gap: 16px;
  }

  .order-status-icons {
    gap: 8px;
    min-width: 36px;
    position: relative;
  }

  .order-status-time {
    gap: 4px;
    min-width: 78px;
  }
}

.bottom-part {
  padding: 0 14px;
  padding-top: 20px;
  padding-bottom: 53px;

  .place-order-container {
    background-color: #f5f6fa;
    padding: 24px;
    border-radius: 24px;
    gap: 24px;
  }

  .place-order-message {
    gap: 12px;

    p {
      font-size: 24px;
      line-height: 32px;
    }

    span {
      font-size: 16px;
      line-height: 24px;
      color: var(--timeline-text-desc-color);
    }
  }

  .place-order-button {
    cursor: pointer;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid var(--light-orange-color);
    background-color: var(--light-orange-color);

    &:hover {
      background-color: var(--dark-orange-color);
    }
  }
}

/*=================================================*/

.product-card {
  background-color: #fff;
  height: max-content;
}

.main-content {
  position: relative;

  &>* {
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0, 0, 0, 0.1);
  }

  img {
    width: 200px;
  }

  .back-image {
    visibility: hidden;
    position: absolute;
  }

  &:hover {
    .front-image {
      visibility: hidden;
    }

    .back-image {
      visibility: visible;
    }
  }
}

.product-name {
  font-weight: 600;
  color: #222;
}

.sale-text {
  color: #e71d34;
}

.add-to-cart {
  cursor: pointer;
  padding: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #222;
  border-radius: 0.6rem;
  font-weight: 600;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0, 0, 0, 0.1);
  color: #fff;
  line-height: 1.375;
  font-size: 1rem;
  width: 100%;
  margin-left: auto;

  &:hover {
    background-color: #727272;
    border: 0.1rem solid hsla(0, 0%, 100%, 0);
  }
}
